# -------------------------
# Miscellaneous
# -------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------
# IDEs and Editors
# -------------------------

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional: uncomment if you don't want to version VSCode settings)
#.vscode/

# -------------------------
# Flutter / Dart
# -------------------------

# Dart/Flutter tool directories
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Generated docs
**/doc/api/

# Flutter iOS
**/ios/Flutter/.last_build_id

# Android build outputs
/android/app/debug/
/android/app/profile/
/android/app/release/

# -------------------------
# Flutter Obfuscation & Symbolication
# -------------------------
app.*.symbols
app.*.map.json

# -------------------------
# Optional: macOS/Linux artifacts
# -------------------------
*.lock
